    <tr>
      <td>
        <%=link_to order.product.name , product_path(order.product_id) %>
      </td>
      <td>
        <%= order.count%>
      </td>
      <td>
        <%= order.cost%>
      </td>
      <td>
        <div><%=order_state(order)%></div>
      </td>
    </tr>
