<div class="col-12 col-md-2">
  <%= link_to category_path(category.name) do %>
    <div class="tags" id="tegs_<%=category.id%>">
      <%= category.name %>
    </div>
    <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      var randomColor = Math.floor(Math.random()*16777215).toString(16);
      $('#tegs_<%=category.id%>').css("background", "#" + randomColor);
    });
    </script>
  <%end%>
</div>
