<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formContent">
      <div class="fadeIn first">
        <h1>Редагувати товар</h1>
        </div>
          <%= render 'form', product: @product %>
        <div id="formFooter">
          <%= link_to 'Показати товар', @product %> |
          <%= link_to 'Повернутися назад', products_path %>
      </div>
    </div>
  </div>
</div>
